*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--darkbuttoncolor);
    
}
html{
    background-image: var(--mainbackground);
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Roboto', sans-serif;
}
 /*variáveis para temas*/

body.whitetheme{
    --mainbackground: url("https://raw.githubusercontent.com/FlaviaDuarte/Linktree/main/fundo.jpg");
    --maintext-color: #dedfdf;
    --borderpicturecolor: #62b8b3;
    --buttoncolor: #62b8b3;
    --darkbuttoncolor: rgb(57, 151, 163);
}

body.darktheme{
    --mainbackground: url("https://github.com/FlaviaDuarte/Linktree/blob/9b36527435ebbe598c6e6f6195214da66b30cab9/fundo.jpg");
    --maintext-color: #f0f8ff ;
    --borderpicturecolor:  #f0f8ff;
    --buttoncolor:#f0f8ff;
    --darkbuttoncolor: #2c577a;
}

body.terra{
    --mainbackground: #eeac9e;
    --maintext-color: #b7410e;
    --borderpicturecolor:  #b7410e;
    --buttoncolor:#b7410e;
    --darkbuttoncolor: #752a09;
}

.container{
    
    text-align: center;
    width: 300px;
    margin: 60px auto 60px;
}

img.avatar{
    border-radius: 100%;
    height: 150px;
    width: 150;
    padding: 3.7px;
    border: var(--buttoncolor) solid 4px; 
}

.icon {
    max-width: 30px;
    max-height: 30px;
    margin: 5px;
}
.iconl {
    max-width: 25px;
    max-height: 25px;
    margin: 5px;
}
h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
  
}
.username{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    opacity: 0.8;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 48px 0;
}

ul li a {
    
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--buttoncolor);
    color: var(--maintext-color);
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px ;
    border-radius: 6px;

    transition:  background 500ms;
}

ul li a:hover {
    background: var(--darkbuttoncolor);
}

footer{
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1.0;
}

footer a {
    color: var(--darkbuttoncolor);
}